.well {
  padding: 0;
}



.welcome h3 {
  margin-top: 5px;
}

.featured p:nth-of-type(odd) {
  background-color: lightgreen;
  border: 1px solid grey;
  margin-top: 5px;;
}

.blue {
  background-color: lightskyblue;
  border: 1px solid grey;
  margin-top: 5px;
}

.featured,.news {
  margin: 5px;
}