.well {
  padding: 0;
}

.welcome h3 {
  margin-top: 5px;
}

.featured p:nth-of-type(odd) {
  background-color: lightgreen;
  border: 1px solid grey;
  margin-top: 5px;;
}

.blue {
  background-color: lightskyblue;
  border: 1px solid grey;
  margin-top: 5px;
}

.featured,.news {
  margin: 5px;
}

.featured-picture > p:first-child {
  background-color: lightpink;
  border: 1px solid grey;
  margin-top: 5px;
}

#picture-description {
  padding-left: 5px;
  margin-left: 5px;
  width: 95%;
}

.featured-picture {
  background-color: #ffbdb6 ;
  padding: 5px;
  height: 450px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flex {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:100%
}

.description-div {
  float:left;
  margin-left: 25px;
}

.sister-div img {
  float:left
}

.sister-div p {
  margin-bottom: 3px;
}

.sister-div .clearfix {
  margin-bottom: 10px;
}

#wikidata-description {
  margin-left: 13px;
}

#wikinews-description {
  margin-left: 9px;
}

.grey {
  background-color: lightgrey;
  border: 1px solid grey;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-indent: 5px;
}