.well {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
}

.welcome h3 {
  margin-top: 5px;
}

.featured p:nth-of-type(odd) {
  background-color: lightgreen;
  border: 1px solid grey;
  margin-top: 5px;;
}

.blue {
  background-color: lightskyblue;
  border: 1px solid grey;
  margin-top: 5px;
}

.featured,.news {
  padding: 10px;
  
}

.featured-picture > p:first-child {
  background-color: lightpink;
  border: 1px solid grey;
  margin-top: 5px;
}

#picture-description {
  padding-left: 5px;
  margin-left: 5px;
  width: 95%;
}

.featured-picture {
  background-color: #ffbdb6 ;
  padding: 5px;
  height: 450px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flex {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
  margin-right: 0px;
  
}

.description-div {
  float:left;
  margin-left: 25px;
  
}

.sister-div img {
  float:left
}

.sister-div p {
  margin-bottom: 3px;
}

.sister-div .clearfix {
  margin-bottom: 10px;
}

#wikidata-description {
  margin-left: 13px;
}

#wikinews-description {
  margin-left: 9px;
}

.grey {
  background-color: lightgrey;
  border: 1px solid grey;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-indent: 5px;
}

div.account {
  height: 40px;
}

div.account ul{
  float: right;
  list-style: none;
}
div.account li{
  float: left;
  padding: 4px;
}

.container.main {
  width: 90%;
  float: right;
  margin-right: 20px;
  
}

div.blue-border{
  border-left: lightblue solid 1px;
}

div.col-md-7 {
  padding-left: 0px;
  padding-right: 1px
}

div.col-md-5{
  padding-right: 0px;
  padding-left: 1px;
}

.sister-projections-container{
  width:100%;
}

div.bg-success.featured {
  height: 100%;
}

div.col-md-7.flex{
  height: 644px;
}

div.row.featured-news {
  margin-bottom: 4px;;
}

.search-bar {
 height: 22px;
 margin-top: 3px;
 width: 300px;
}

ul.search {
 float:right;
}

.complete-list-of-wikipedias {
  text-align: center;
}

#other-areas {
  padding-left: 0px;
}

.grey-labels-div  {
  margin-top: 4px;
  border: solid grey 0.5px;
  padding: 5px;
}

.nav-tabs > li > a
{
    /* adjust padding for height*/
    padding-top: 4px; 
    padding-bottom: 4px;  
}